REACT_APP_API_HTTP_ORIGIN=https://api-staging.coronawindow.com/api
REACT_APP_API_WEBSOCKET_ORIGIN=wss://api-staging.coronawindow.com/websocket
REACT_APP_API_GRAPHQL_PATH=/graphql

REACT_APP_RTMP_URL=rtmp://api-staging.coronawindow.com:1935/stream

REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_my_stripe_publishable_key
REACT_APP_STRIPE_CONNECT_CLIENT_ID=ca_my_stripe_connect_client_id