REACT_APP_API_HTTP_ORIGIN=https://api-staging.gigwindow.com/api
REACT_APP_API_WEBSOCKET_ORIGIN=wss://api-staging.gigwindow.com/websocket
REACT_APP_API_GRAPHQL_PATH=/graphql

REACT_APP_REQUEST_ACCESS_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSdkxtlPT-Jf2oSGLfZTEOKUhsJsO_tjcQhhXmVH9L0K-_YcNw/viewform

REACT_APP_RTMP_URL=rtmp://api-staging.gigwindow.com:1935/stream

REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_my_stripe_publishable_key
REACT_APP_STRIPE_CONNECT_CLIENT_ID=ca_my_stripe_connect_client_id